#issueDetailsDiv{
    margin-left: 50px;
    margin-top: 25px;
}

#issueOperationsDiv{
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#issueOperationsDiv input{
    margin-right: 15px;
    margin-bottom: 15px;
}

#issueOperationsDiv a{
    color: #366898;
    cursor: pointer;
}