.requestsTable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
.requestsTable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
.requestsTable tr {background-color:#e8fffc;}
.requestsTable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
.requestsTable tr:hover {background-color:#ffff99;}


#resuestsDevision{
    /*width: 1000px;*/
    width: 900px;
    margin: 50px auto;
    height: 300px;
    overflow-y: auto;
}

#commentDivision{
    height: 400px;
}