.requestsTable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
.requestsTable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
.requestsTable tr {background-color:#e8fffc;}
.requestsTable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
.requestsTable tr:hover {background-color:#ffff99;}


#purposeDiv{
    vertical-align: middle;
}
#requirementDiv{
    vertical-align: middle;
}

#selectDeviceLbl,#deviceTypeSelect{
    margin-top: 25px;
    margin-left: 60px;
}
#textAreas{
    margin-left: 20px;
}

#addDevice{
    width: 1000px;
}

#tabs {
    width: auto;
}


#listContainer{
    margin-top:15px;
}

#expList ul, li {
    list-style: none;
    margin:0;
    padding:0;
    cursor: pointer;
}
#expList p {
    margin:0;
    display:block;
}
#expList p:hover {
    background-color:#121212;
}
#expList li {
    line-height:140%;
    text-indent:0px;
    background-position: 1px 0px;
    padding-left: 20px;
    background-repeat: no-repeat;
}

/* Collapsed state for list element */
#expList .collapsed {
    background-image: url(../images/Down.png);
}
/* Expanded state for list elements
/* NOTE: This class must be located UNDER the collapsed one */
#expList .expanded {
    background-image: url(../images/Up.png);
}