<table style='width: 700px; margin:0px 0px 15px 50px'>
<thead>
<tr>
<th style ='width: 300px;height: 15px' >Accessory SN: {{serial_number}}
</th>
<th style ='height: 15px'>{{type}}
</th>
</tr>
</thead>
<tbody>
<tr class='alt'>
<td><b>Accessory ID</b>
</td>
<td>{{accessory_id}}
</td>
</tr>
<tr>
<td><b>Health</b>
</td>
<td>{{health}}
</td>
</tr>
<tr class='alt'>
<td><b>Remarks</b>
</td>
<td>{{remarks}}
</td>
</tr>
<tr>
<td><b>Assigned date</b>
</td>
<td>{{assigned_date}}
</td>
</tr>
<tr class='alt'>
<td><b>Remove Date</b>
</td>
<td>{{removed_date}}
</td>
</tr>
</tbody>                    
</table>
<br/>