<!-- Author - Mihil Ranathunga 
*** Email - mihil@wso2.com
*** project-wso2 Hardware Repository
*** interns UOM-2014 -->  
{{#issue_number}}
<table style='width: 600px; margin:0px 0px 15px 50px -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;'>
<thead>
<tr>
<th style ='width: 100px;height: 15px' >{{issue_number}}
</th>
{{#status}}
<th style ='height: 15px'>{{status}}
</th>
{{/status}}
{{^status}}
<th style ='height: 15px'>Pending
</th>
{{/status}}
</tr>
</thead>
<tbody>
<tr class='alt'>
<td><b>Device Id</b>
</td>

<td><span><a id="ass" href="userdevice?id={{device_id}}" onclick="return new function(){window.open('userdevice?id={{device_id}}');}" >{{device_id}}</a></span>
</td>
</tr>
<tr>
<td><b>Employee Id</b>
</td>

<td>{{employee_employee_id}}
</td>
</tr>
<tr class='alt'>
<td><b>Issue Info</b>
</td>

<td>{{issue_info}}
</td>
</tr>
<tr>
<td><b>Reported Date</b>
</td>

<td>{{date}}
</td>
</tr>
<tr>
{{#rejected}}

<!--td>
<button id='editIssue{{issue_number}}' class='siteButton' style='' onclick='Hwdrepo.editIssue({{issue_number}},{{device_id}},"{{status}}","{{issue_info}}","{{date}}",0)' >Repeat Issue</button>
<div style="background-image:url(images/menu_restart.gif);background-repeat:no-repeat;width:16px;height:16px" class="icon-div"></div><label class="linkLabel" onclick='Hwdrepo.editIssue({{issue_number}},{{device_id}},"{{status}}","{{issue_info}}","{{date}}",0)'>Repeat Issue</label>
</td-->

<td>
<!--button id='editIssue{{issue_number}}' class='siteButton' style='' onclick='Hwdrepo.editIssue({{issue_number}},{{device_id}},"{{status}}","{{issue_info}}","{{date}}",4)' >Delete</button-->
<div style="background-image:url(images/delete.gif);background-repeat:no-repeat;width:16px;height:16px" class="icon-div"></div><label class="linkLabel" onclick='Hwdrepo.editIssue({{issue_number}},{{device_id}},"{{status}}","{{issue_info}}","{{date}}",4)'>Delete</label>
</td>
{{/rejected}}
{{#New}}
<td>
<!--button id='editIssue{{issue_number}}' class='siteButton' style='' onclick='Hwdrepo.editIssue({{issue_number}},{{device_id}},"{{status}}","{{issue_info}}","{{date}}",0)' >Edit Issue</button-->
<div style="background-image:url(images/edit.gif);background-repeat:no-repeat;width:16px;height:16px" class="icon-div"></div><label class="linkLabel" onclick='Hwdrepo.editIssue({{issue_number}},{{device_id}},"{{status}}","{{issue_info}}","{{date}}",0)'>Edit Issue</label>
</td>
<td>
<!--button id='editIssue{{issue_number}}' class='siteButton' style='' onclick='Hwdrepo.editIssue({{issue_number}},{{device_id}},"{{status}}","{{issue_info}}","{{date}}",4)' >Delete</button -->
<div style="background-image:url(images/delete.gif);background-repeat:no-repeat;width:16px;height:16px" class="icon-div"></div><label class="linkLabel" onclick='Hwdrepo.editIssue({{issue_number}},{{device_id}},"{{status}}","{{issue_info}}","{{date}}",4)'>Delete</label>
</td>
{{/New}}
{{#resolved}}
<td>
<!--button id='confirmSolved{{issue_number}}' class='siteButton' style='' onclick='Hwdrepo.editIssue({{issue_number}},{{device_id}},"{{status}}","{{issue_info}}","{{date}}",3)'>Confirm Solved</button-->
<div style="background-image:url(images/activate.gif);background-repeat:no-repeat;width:16px;height:16px" class="icon-div"></div><label class="linkLabel" onclick='Hwdrepo.editIssue({{issue_number}},{{device_id}},"{{status}}","{{issue_info}}","{{date}}",3)'>Confirm Solved</label>
</td>
{{/resolved}} 
</tr>

</tbody>                    
</table>
<br/>
{{/issue_number}}
{{^issue_number}}
<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
		<span><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
		<strong>Information:</strong> No Issues For this device</span>
	</div>
{{/issue_number}}
