<table style='width: 700px; margin:0px 0px 15px 50px'>
<thead>
<tr>
<th style ='width: 200px;height: 15px' >upgrade ID: {{upgrade_id}}
</th>
<th style ='height: 15px'>{{acc_type}}
</th>
</tr>
</thead>
<tbody>
<tr class='alt'>
<td><b>Accessory serial</b>
</td>
<td>{{acc_sn}}
</td>
</tr>
<tr>
<td><b>Accessory id</b>
</td>
<td>{{upgraded_accessory_id}}
</td>
</tr>
<tr class='alt'>
<td><b>Upgrade Description</b>
</td>
<td>{{desc}}
</td>
</tr>
<tr>
<td><b>Upgrade date</b>
</td>
<td>{{date_upgraded}}
</td>
</tr>
<tr class='alt'>
<td><b>Upgrade Remove Date</b>
</td>
<td>{{date_removed}}
</td>
</tr>
<tr>
<td><b>Reference issue</b>
</td>
<td>{{issue_number}}
</td>
</tr>
</tbody>                    
</table>
<br/>