<!-- Author - Mihil Ranathunga 
*** Email - mihil@wso2.com
*** project-wso2 Hardware Repository
*** interns UOM-2014 -->  
<table style='width: 700px; margin:0px 0px 15px 50px'>
{{#war_id}}
<thead>
<tr>
<th style ='width: 300px;height: 15px' >Device Warranty : {{war_time_months}} months
</th>
<th style ='height: 15px'> Warranty Status : {{sts}} 
</th>
</tr>
</thead>
<tbody>
<tr class='alt'>
<td><b>Warranty ID</b>
</td>
<td>{{war_id}}
</td>
</tr>
<tr>
<td><b>Start date</b>
</td>
<td>{{start_date}}
</td>
</tr>
<tr class='alt'>
<td><b>End Date</b>
</td>
<td>{{end_date}}
</td>
</tr>
{{/war_id}}
{{^war_id}}
<tbody>
<tr >
<td colspan="2">
	<div id="addHdwErr" class="ui-widget">
                                                   <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
                                                      <span><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                                                         <strong>Alert:</strong> No Warranty For this Device!
                                                      </span>
                                                   </div>
                                                </div>
</td>
</tr>
{{/war_id}}
{{#hasAccessories}}
<tr >
<td colspan="2" bgcolor="#FF0000">
<div  style="height: 25px; text-align:center; line-height:25px;">
	<span style="background-color: rgb(255, 0, 0);"><h3>Accessories</h3></span>
</div>
</td>
</tr>
{{/hasAccessories}}
<tr>
<td colspan="2">
	<div id="accessoryWarrantyDiv" class="datagrid">
</div>
</td>
</tr>
</tbody>                    
</table>
<br/>

